body {
  margin: 0;
  padding: 0;
}

#theme {
  position: fixed;
  top: 32px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#theme input[type="radio"] {
  display: none;
}

#theme label {
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#theme input[type="radio"]:checked + label {
  width: 18px;
  height: 18px;
  border: 2px solid #808080;
  cursor: default;
}

#dark + label {
  border: 1px solid #808080;
  background-color: #111;
}

#light + label {
  border: 1px solid #808080;
  background-color: #fff;
}

#info {
  position: fixed;
  /* bottom: 0; */
  /* margin: auto 0; */
  width: 330px;
  /* height: 480px; */
  /* color: #fff; */
  opacity: 0.0;
  /* transform: translateX(-10%); */
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fadeIn 2s cubic-bezier(0.215, 0.61, 0.355, 1) both 1.5s;
}

#info.jp {
  top: 32px;
  left : 32px;
}

#info.en {
  right: 32px;
  bottom : 32px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /* transform: translateX(-10%); */
  }

  100% {
    opacity: 1;
    /* transform: translateX(0%); */
  }
}

#info .name {
  font-family: "Zen Old Mincho";
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  margin: 0 0 10px;
  /* box-shadow: 1px 1px 1px #000; */
}

body.dark #info .name {
  color: #fff;
  filter: drop-shadow(1px 1px 3px #000);
}

body.light #info .name {
  color: #000;
  filter: drop-shadow(1px 1px 3px #ccc);
}

#info.jp .name {
  font-family: "Zen Old Mincho";
  letter-spacing: 4px;
}

#info.en .name {
  font-family: "Zen Old Mincho";
}

#info .desc {
  /* font-family: "Noto Serif JP"; */
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.8;
  color: #ccc;
}

body.dark #info .desc {
  color: #ccc;
  filter: drop-shadow(1px 1px 0px #000);
}

body.light #info .desc {
  color: #333;
  filter: drop-shadow(1px 1px 0px #ccc);
}

#info.jp .desc {
  font-family: "Noto Serif JP";
}

#info.en .desc {
  font-family: "Noto Serif JP";
}
