body {
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: #111;
}

body.light {
  background-color: #fff;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

#guide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 12px;
  z-index: 1;
  opacity: 0.0;
  transition: opacity 5s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: blink 5s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

#guide.hide {
  /* opacity: 0.0; */
  animation-iteration-count: 0;
}

@keyframes blink {
  50% {
    opacity: 1.0;
  }
}

body.dark #guide {
  color: #ccc;
}

body.light #guide {
  color: #111;
}

#scroller {
  position: relative;
  width: 100%;
  height: 2000vh;
}

#themeChanger {
  position: fixed;
  top: 64px;
  right: 32px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 1;
}

#themeChanger .caption {
  position: absolute;
  left:   0;
  right:  0;
  bottom: -20px;
  width: 60px;
  margin: 0 auto;
  font-family: "Roboto";
  font-size: 10px;
  text-align: center;
}

body.dark #themeChanger .caption {
  color: #ccc;
}

body.light #themeChanger .caption {
  color: #111;
}

#themeChanger input[type="radio"] {
  display: none;
}

#themeChanger label {
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#themeChanger label:hover {
  border: 2px solid #e6b422;
}

#themeChanger input[type="radio"]:checked + label {
  width: 18px;
  height: 18px;
  border: 2px solid #808080;
  cursor: default;
}

#dark + label {
  border: 1px solid #808080;
  background-color: #111;
}

#light + label {
  border: 1px solid #808080;
  background-color: #fff;
}

#info .jp, #info .en {
  position: fixed;
  width: 330px;
  z-index: 1;
}

#info .jp {
  top: 32px;
  left : 32px;
}

#info .en {
  right: 32px;
  bottom : 32px;
}

#info .name {
  /* font-family: "Zen Old Mincho"; */
  font-family: "Zen Kaku Gothic New";
  font-weight: 400;
  font-style: normal;
  font-size: 52px;
  margin: 0 0 10px;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  animation-fill-mode: both;
}

body.dark #info .name {
  color: #fff;
  filter: drop-shadow(1px 1px 3px #000);
}

body.light #info .name {
  color: #000;
  filter: drop-shadow(1px 1px 3px #ccc);
}

#info .jp .name {
  /* font-family: "Zen Old Mincho"; */
  /* font-family: "Zen Kaku Gothic New"; */
  letter-spacing: 4px;
  opacity: 0.0;
  transform: translateX(-100%);
}

#info .en .name {
  /* font-family: "Zen Old Mincho"; */
  /* font-family: "Zen Kaku Gothic New"; */
  /* letter-spacing: 2px; */
  opacity: 0.0;
  transform: translateX(100%);
}

#info .desc {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.8;
  color: #ccc;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  animation-fill-mode: both;
}

body.dark #info .desc {
  color: #ccc;
  filter: drop-shadow(1px 1px 0px #000);
}

body.light #info .desc {
  color: #333;
  filter: drop-shadow(1px 1px 0px #ccc);
}

#info .jp .desc {
  font-family: "Noto Serif JP";
  opacity: 0.0;
  transform: translateY(-100%);
}

#info .en .desc {
  font-family: "Noto Serif JP";
  opacity: 0.0;
  transform: translateY(100%);
}

#progress {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 1;
}

#rate {
  position: absolute;
  margin: 0 auto;
  top: 8px;
  left: 0;
  right: 0;
  width: 36px;
  font-family: "Roboto";
  font-size: 10px;
  text-align: center;
}

body.dark #rate {
  color: #ccc;
}

body.light #rate {
  color: #111;
}

#barWrap {
  position: relative;
  width: 300px;
  height: 2px;
  overflow: hidden;
}

body.dark #barWrap {
  background-color: #ffffff4d;
}

body.light #barWrap {
  background-color: #1111114d;
}

#bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* opacity: 0.7; */
  transform: translateX(-100%);
  transition: all  cubic-bezier(0.215, 0.610, 0.355, 1);
  z-index: 0;
}

body.dark #bar {
  background-color: #fff;
}

body.light #bar {
  background-color: #111;
}

#auto {
  position: fixed;
  top: 128px;
  right: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 10px;
  text-align: center;
  /* color: #fff; */
  gap: 20px;
  cursor: pointer;
  z-index: 1;
}

#auto i {
  font-size: 20px;
}

#forward:hover i,
#backward:hover i {
  color: #e6b422;
}

#forward.active i,
#backward.active i {
  color: #e6b422;
  opacity: 0.0;
  animation: blink 2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}


body.dark #auto {
  color: #ccc;
}

body.light #auto {
  color: #111;
}
