html, body {
  width: 100vw;
  font-size: 0.520833333vw;
}

body {
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: #111;
}

body.light {
  background-color: #fff;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}





#roll {
  position: relative;
  width: 100%;
}





#prompt {
  position: fixed;
  bottom: 6.4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 20.0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: #808080;
  opacity: 0.0;
  animation: blink 2400ms infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

#prompt .text {
  font-family: "Roboto";
  font-size: 1.5rem;
}

#prompt i {
  font-size: 3.2rem;
}

#prompt.hide {
  animation-iteration-count: 0;
}

@keyframes blink {
   50% { opacity: 1.0; }
  100% { transform: translateY(4.0rem); }
}





#loader {
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 1001;
}

#loader {
  width: 9.6rem;
  height: 9.6rem;
  transition: 
    opacity   400ms cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0.0;
}

#loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* font-family: "Montserrat"; */
  /* font-size: 1.6rem; */
  font-family: "Roboto";
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading #loader {
  /* color: #ffffff; */
  color: #999999;
  transition: none;
  animation: blink 1.6s infinite linear;
}

#loader::after {
  content: '';
  border-radius: 50%;
  position: absolute; 
  top: 0;
  left: 0;
  /* width: 4.8rem;
  height: 4.8rem; */
  width: 100%;
  height: 100%;
  /* border: 2px solid #ffffff33; */
  border: 2px solid #99999933;
  animation: none;
}

.loading #loader::after {
  /* border-top-color: #FFF; */
  border-top-color: #999;
  animation: spin 1.6s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  50% {
    opacity: 1.0;
  }
}





#info .jp, #info .en {
  position: fixed;
  width: 330px;
}

#info .jp {
  top: 32px;
  left : 32px;
}

#info .en {
  right: 32px;
  bottom : 32px;
}

#info .name {
  font-family: "Noto Sans JP";
  font-size: 52px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 10px;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  animation-fill-mode: both;
}

body.dark #info .name {
  color: #fff;
  filter: drop-shadow(1px 1px 1px #000);
}

body.light #info .name {
  color: #000;
  filter: drop-shadow(1px 1px 1px #ccc);
}

#info .jp .name {
  letter-spacing: 4px;
  opacity: 0.0;
  transform: translateX(-100%);
}

#info .en .name {
  opacity: 0.0;
  transform: translateX(100%);
}

#info .desc {
  font-family: "Noto Serif JP";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.8;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
  animation-fill-mode: both;
}

body.dark #info .desc {
  color: #ccc;
  filter: drop-shadow(1px 1px 0px #000);
}

body.light #info .desc {
  color: #333;
  filter: drop-shadow(1px 1px 0px #ccc);
}

#info .jp .desc {
  opacity: 0.0;
  transform: translateY(-100%);
}

#info .en .desc {
  opacity: 0.0;
  transform: translateY(100%);
}





#themeChanger {
  position: fixed;
  top: 4.8rem;
  right: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

#themeChanger .switch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

#themeChanger .caption {
  font-family: "Roboto";
  font-size: 1.5rem;
  text-align: center;
  color: #808080;
}

#themeChanger .wrapper {
  border: 1px solid transparent;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body.dark #themeChanger .wrapper:hover {
  border: 1px solid #ccc;
}

body.light #themeChanger .wrapper:hover {
  border: 1px solid #333;
}

#themeChanger input[type="radio"] {
  display: none;
}

#themeChanger label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.4rem;
  height: 4.8rem;
  font-size: 3.2rem;
  border-radius: 0.8rem;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#themeChanger input[type="radio"]:checked + label {
  background-color: #808080;
}

body.dark #themeChanger input[type="radio"]:checked + label {
  color: #111111;
}

body.light #themeChanger input[type="radio"]:checked + label {
  color: #ffffff;
}

#themeChanger input[type="radio"]:not(:checked) + label {
  color: #808080;
  border: 1px solid transparent;
}

#themeChanger input[type="radio"]:not(:checked) + label:hover {
  border: 1px solid #808080;
  cursor: pointer;
}





#auto {
  position: fixed;
  top: 17.6rem;
  right: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  z-index: 1;
}

#auto .button {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

#auto .button .icon {
  width: 6.4rem;
  height: 4.8rem;
  font-size: 3.2rem;
  color: #808080;
  border: 1px solid transparent;
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#auto .button .icon.disabled {
  pointer-events: none;
  opacity: 0.4;
}

#auto .button .icon:hover {
  border: 1px solid #808080;
  cursor: pointer;
}

#auto .button .icon.running {
  background-color: #808080;
  animation: softBlink 2.0s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none;
}

@keyframes softBlink {
  50% { opacity: 0.0; }
}

body.dark #auto .button .icon.running {
  color: #111;
}

body.light #auto .button .icon.running {
  color: #fff;
}

#auto .caption {
  font-family: "Roboto";
  font-size: 1.5rem;
  text-align: center;
  color: #808080;
}





#progress {
  position: fixed;
  left: 3.2rem;
  bottom: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

#progress .label {
  font-family: "Roboto";
  font-size: 1.5rem;
  color: #808080;
}

#progress .circleWrap {
  position: relative;
  width:  14.4rem;
  height: 14.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress .circleWrap svg {
  width:  100%;
  height: 100%;
}

#progress .circleWrap circle {
  fill: none;
  stroke-dasharray: 283;
  stroke-width: 8;
}

#progress .circleWrap .bg {
  stroke: #808080;
  opacity: 0.4;
}

#progress .circleWrap .bar {
  stroke: #808080;
  stroke-linecap: round;
  transform-origin: center;
  transform: rotate(270deg);
}

#progress .circleWrap .rate {
  position: absolute;
  font-family: "Roboto";
  font-size: 2.4rem;
  color: #808080;
}